html {
    font-family: sans-serif;
}

body{
    background-color: black;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: blueviolet;
}

h1 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

header{
    grid-column: 1/3;
}

footer {
    background-color: aqua;
    text-align: center;
    padding: auto;
    line-height: 3rem;
    grid-column: 1/3;
}

#content-area{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

#page-title {
    font-size: 2.5rem;
    display: inline-block;
}

#page-title a {
    color: rgb(4, 148, 148);
}

#date {
    text-align: right;
    float: right;
}

#main-nav{
    grid-column: 1/3;
}

#main-nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    list-style-type: none;
}

#main-nav li {
    flex-grow: 1;
}

#main-nav li a {
    background-color: aqua;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

#main-nav li a:hover {
    background-color: rgb(0, 117, 117);
}

#news-panel{
    display: grid;
    grid-column: auto auto auto;
}

#news-panel h2{
    grid-column: 1/4;
}

.current-story {
    float: right;
}

.current-story figcaption {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.354);
    position: relative;
    line-height: 1.8rem;
    top: -2rem;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body{
        background-color: white;
    }
    
    header{
        padding: 5%;
    }

    main {
        padding: 5%;
        padding-bottom: 0;
        width: 90%;
    }

    aside {
        padding: 5%;
        width: 90%;
        float: none;
        padding-top: 0;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    aside h2{
        grid-column: 1/4;
    }

    #content-area{
        margin: 0;
        display: block;
    }

    #date{
        text-align: left;
        float: none;
    }
}

@media screen and (max-width: 425px) {
    aside{
        display: block;
    }
    
    .current-story{
        float: none;
        display: block;
        margin: auto;
    }

    .current-story img {
        max-width: 100%;
    }

    #news-panel{
        display: block;
    }
}