.container{
    display: grid;
    grid-template: 1fr 4fr 1fr / 1fr 2fr 2fr 1fr;
}

#sq1{
    grid-row: 1 / 4;
}

#sq2{
    grid-column: 2/5;
}

#sq3{
    grid-row: 1/3;
    grid-column: 4/5;
}

#sq4{
    grid-column: 2/4;
    grid-row: 1/2;
}

#sq5, #sq6{
    grid-row: 2/3;
}