.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 30vw;
}

main{
    display: flex;
    justify-content: center;
}